body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.red {
    color: red;
    font-size: 100px;
    background-color:rgba(255, 0, 0, 0.406);
}

#blue {
    color: blue;
    font-size: 100px;
    background-color: rgba(0, 0, 255, 0.468);
}

p {
    /* color: white; */
  text-shadow: 2px 2px 4px #000000;
}

p:hover{
    color: beige;
}

h1{
    text-align: center;
    font-size: 3rem;
    border-bottom: 10px solid aquamarine;
    width: fit-content;
    font-weight: bold;
}

