.red {
    color: red;
    font-size: 100px;
}

.blue {
    color: blue;
    font-size: 50px;
}

#babyblue {
    background-color: powderblue;
}

#plum {
    background-color: plum;
}

#green {
    background-color: palegreen;
}