.red {
    color: red;
    font-size: 100px;
}

#blue {
    color: blue;
    font-size: 48px;
}
#title{
    color: blue;
    font-size: 8px;
}
body{
    background-color: #fff;
}
.bg1{
    background-color: burlywood;
}
.bg2{
    background-color: coral;
}
.bg3{
    background-color: darkorchid;
}